<!-- Dette er main layout til alle sider -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bok-Bibliotek</title>
</head>
<body>
    Before
        <%- body %> <!-- body importerer alle ejs-sider -->
    After
    
</body>
</html>