.author-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.author-name {
    font-size: 1.8rem;
    text-align: center;
}

.author-row {
    padding-left: 7px;
    margin-top: 20px;
    max-width: 500px;
}

.books-by-author {
    display:flex;
    flex-wrap: wrap;
}

.each-author-book {
<<<<<<< HEAD
    margin-left: 30px;
    margin-top: 20px;
}

=======
    margin-left: 35px;
}

.each-author-book:first-child {
    margin-left: 0px;
}
>>>>>>> f679cfa5be60076a1e60de1a53b915f6eafe22fd

.book-title {
    text-align: center;
    font-size: 25px;
}

@media only screen and (max-width: 522px) {
    .each-author-book {
        margin-top: 20px;
        margin-left: 0px;
    }
}

