:root {
    --form-label-font-size: 1.2rem;
    --form-input-background-color: hsl(var(--color-base-hue), 100%, 30%);
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
    --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);
}

.form-row {
    display: flex;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
  
}

.form-item {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    flex-basis: 0; /* alle bokser starte på lik linje */
    margin-left: 2rem;
}


.form-item:first-child {
    margin-left: 0;
}

/*target label inside form-item */
.form-item > label {  
    font-size: var(--form-label-font-size);
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    font-weight: 300;
}

.form-item input, .form-item select, .form-item textarea {
    height: 1.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--form-input-border-color);
    background: var(--form-input-background-color);
    color: var(--color-text-light);
    /* input elements resets fonts */
    font-size: 1rem;
    font-weight: 350;
    font-family: 'Gotham Rounded';

}


.form-item input:focus, .form-item select:focus, .form-item textarea:focus {
    border-color: var(--form-input-border-color-light);
}


.form-item-no-grow {
    flex-grow: 1;
    flex-basis: 0;
}


.form-item select option {
    background-color: black;
}

.form-item textarea {
    height: 100%;
    resize: none;
}


.row-end {
    justify-content: flex-end;
}


/* filepond */
.filepond--root {
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
    font-size: 0.8rem;
}

.filepond--panel-root {
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-input-border-color)
}

.filepond--drop-label {
    color: var(--color-text-light);
    
}


/* RESPONSIVE */
@media only screen and (max-width: 650px) {
    .form-item {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }
    .form-item:first-child {
        margin-left: 0;
    }
    /*target label inside form-item */
    .form-item input, .form-item select, .form-item textarea {
        height: 1.75rem;
        border-radius: 0.25rem;
        border: 1px solid var(--form-input-border-color);
        background: var(--form-input-background-color);
        color: var(--color-text-light);
        /* input elements resets fonts */
        font-size: 1rem;
        font-weight: 350;
        font-family: 'Gotham Rounded';
    }
}

@media only screen and (max-width: 532px) {
.filepond--root {
    font-size: 0.5rem;
}}
@media only screen and (max-width: 452px) {
    .filepond--root {
        font-size: 0.8rem;
    }}